<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <table border="3px">
                <tr>
                    <td><label for="na">Name</label></td>
                    <td>
                        <select name="na" id="na">
                            {% for wo in LWO %}
                                <option value="{{wo}}">{{wo.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="da">Date</label></td>
                    <td><input type="Date" name="da" id="da"></td>
                </tr>
                <tr>
                    <td><label for="au">Author</label></td>
                    <td><input type="text" name="au" id="au"></td>
                </tr>
                <tr>
                    <td><input type="submit"></td>
                </tr>

            </table>
        </form>
    </center>
</body>
</html>